<?xml version="1.0" encoding="UTF-8" ?>
<ruleset
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        name="23G Coding Standard"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <config name="tab_width" value="4" />
    <config name="ignore_warnings_on_exit" value="1" />

    <arg name="colors" />
    <arg name="extensions" value="php" />

    <rule ref="PSR12" />

    <rule ref="Generic.Arrays.ArrayIndent" />

    <rule ref="Generic.Arrays.DisallowLongArraySyntax" />

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="ignoreComments" value="true" />
        </properties>
    </rule>

    <rule ref="Generic.Formatting.SpaceAfterCast" />

    <rule ref="Generic.Formatting.SpaceAfterNot">
        <properties>
            <property name="spacing" value="0" />
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Arrays.TrailingArrayComma" />

    <rule ref="SlevomatCodingStandard.Classes.BackedEnumTypeSpacing" />

    <rule ref="SlevomatCodingStandard.Classes.ClassStructure">
        <properties>
            <property name="groups" type="array">
                <element value="uses" />
                <element value="constants" />
                <element value="enum cases" />
                <element value="properties" />
                <element value="constructor" />
                <element value="methods" />
            </property>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Classes.ClassMemberSpacing">
        <properties>
            <property name="linesCountBetweenMembers" value="1" />
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Classes.MethodSpacing">
        <properties>
            <property name="minLinesCount" value="1" />
            <property name="maxLinesCount" value="1" />
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Classes.SuperfluousTraitNaming" />

    <rule ref="SlevomatCodingStandard.Commenting.DocCommentSpacing">
        <properties>
            <property name="linesCountBeforeFirstContent" value="0" />
            <property name="linesCountBetweenDescriptionAndAnnotations" value="1" />
            <property name="linesCountBetweenDifferentAnnotationsTypes" value="0" />
            <property name="linesCountAfterLastContent" value="0" />
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.ControlStructures.DisallowYodaComparison" />

    <rule ref="SlevomatCodingStandard.ControlStructures.JumpStatementsSpacing">
        <properties>
            <property name="linesCountBefore" value="1" />
            <property name="jumpStatements" type="array">
                <element value="return" />
                <element value="throw" />
            </property>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.ControlStructures.BlockControlStructureSpacing">
        <properties>
            <property name="linesCountBefore" value="1" />
            <property name="linesCountAfter" value="1" />
            <property name="controlStructures" type="array">
                <element value="for" />
                <element value="foreach" />
                <element value="if" />
                <element value="switch" />
                <element value="while" />
            </property>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Exceptions.RequireNonCapturingCatch" />

    <rule ref="SlevomatCodingStandard.Functions.ArrowFunctionDeclaration">
        <properties>
            <property name="spacesCountAfterKeyword" value="1" />
            <property name="spacesCountBeforeArrow" value="1" />
            <property name="spacesCountAfterArrow" value="1" />
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Functions.RequireTrailingCommaInCall" />

    <rule ref="SlevomatCodingStandard.Functions.RequireTrailingCommaInDeclaration" />

    <rule ref="SlevomatCodingStandard.Namespaces.AlphabeticallySortedUses" />

    <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses" />

    <rule ref="SlevomatCodingStandard.Namespaces.FullyQualifiedClassNameInAnnotation" />

    <rule ref="SlevomatCodingStandard.Operators.NegationOperatorSpacing">
        <properties>
            <property name="spacesCount" value="0" />
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Operators.SpreadOperatorSpacing">
        <properties>
            <property name="spacesCountAfterOperator" value="0" />
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.PHP.TypeCast" />

    <rule ref="SlevomatCodingStandard.TypeHints.LongTypeHints" />
    <rule ref="SlevomatCodingStandard.TypeHints.NullableTypeForNullDefaultValue" />
    <rule ref="SlevomatCodingStandard.TypeHints.UnionTypeHintFormat">
        <properties>
            <property name="withSpaces" value="no" />
            <property name="shortNullable" value="yes" />
            <property name="nullPosition" value="last" />
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Whitespaces.DuplicateSpaces" />

    <rule ref="Squiz.Commenting.FunctionComment">
        <exclude name="Squiz.Commenting.FunctionComment.EmptyThrows" />
        <exclude name="Squiz.Commenting.FunctionComment.Missing" />
        <exclude name="Squiz.Commenting.FunctionComment.MissingParamComment" />
        <exclude name="Squiz.Commenting.FunctionComment.IncorrectParamVarName" />
        <exclude name="Squiz.Commenting.FunctionComment.IncorrectTypeHint" />
        <!-- TODO remove IncorrectTypeHint exclusion when generics support is added -->
        <exclude name="Squiz.Commenting.FunctionComment.InvalidReturn" />
        <exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop" />
        <exclude name="Squiz.Commenting.FunctionComment.ParamCommentNotCapital" />
        <exclude name="Squiz.Commenting.FunctionComment.ScalarTypeHintMissing" />
        <exclude name="Squiz.Commenting.FunctionComment.SpacingAfterParamName" />
        <exclude name="Squiz.Commenting.FunctionComment.SpacingAfterParamType" />
        <exclude name="Squiz.Commenting.FunctionComment.TypeHintMissing" />

        <properties>
            <property name="skipIfInheritdoc" value="true" />
        </properties>
    </rule>

    <rule ref="Squiz.Commenting.FunctionComment.MissingParamTag">
        <exclude-pattern>tests/**/*Test.php</exclude-pattern>
    </rule>

    <rule ref="Squiz.Commenting.FunctionComment.MissingReturn">
        <exclude-pattern>tests/**/*Test.php</exclude-pattern>
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <exclude-pattern>tests/*Test.php</exclude-pattern>
    </rule>

    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <exclude-pattern>*</exclude-pattern>
    </rule>

    <rule ref="Squiz.NamingConventions.ValidVariableName.NotCamelCaps" />

    <rule ref="PSR12.Namespaces.CompoundNamespaceDepth">
        <properties>
            <property name="maxDepth" value="0" />
        </properties>
    </rule>

    <rule ref="PSR12.ControlStructures.BooleanOperatorPlacement">
        <properties>
            <property name="allowOnly" value="first" />
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.ControlStructures.UselessTernaryOperator" />

    <rule ref="SlevomatCodingStandard.Namespaces.UselessAlias" />

    <rule ref="SlevomatCodingStandard.PHP.ShortList" />

    <rule ref="Squiz.Commenting.InlineComment">
        <exclude name="Squiz.Commenting.InlineComment.DocBlock" />
        <exclude name="Squiz.Commenting.InlineComment.Empty" />
        <exclude name="Squiz.Commenting.InlineComment.InvalidEndChar" />
        <exclude name="Squiz.Commenting.InlineComment.NotCapital" />
        <exclude name="Squiz.Commenting.InlineComment.SpacingBefore" />
    </rule>

    <rule ref="Squiz.Strings.DoubleQuoteUsage" />
    <rule ref="Squiz.Strings.DoubleQuoteUsage.ContainsVar">
        <severity>0</severity>
    </rule>

    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>tests/Dumping/correct-fixture.php</exclude-pattern>
    <exclude-pattern>tests/Hydration/fixtures/cached-attributes.php</exclude-pattern>
    <exclude-pattern>tests/Hydration/fixtures/cached-outdated.php</exclude-pattern>
    <exclude-pattern>tests/Hydration/fixtures/cached.php</exclude-pattern>

</ruleset>
