includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/Dumping/correct-fixture.php
        - tests/Hydration/fixtures/cached-attributes.php
        - tests/Hydration/fixtures/cached-outdated.php
        - tests/Hydration/fixtures/cached.php
