parameters:
	ignoreErrors:
		-
			message: "#^Variable property access on object\\.$#"
			count: 1
			path: src/Attributes/From.php

		-
			message: "#^Variable static method call on class\\-string\\<T of object\\>\\.$#"
			count: 1
			path: src/Hydration/PlanExecutor.php
